<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'EcoWeb/base.html' %}

    {% block content %}
    <h2>{{ action }} Product</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{{ action }}</button>
    </form>

    <a href="{% url 'productlist' %}">Back to product List</a>
    {% endblock %}
</body>

</html>